*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    width: 100%;
}
body{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart{
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center
    ;
}
#cart img{
    height: 50%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    /* padding: 30px; */
}
#cart h1{
    /* text-align: center; */
    font-size: 25px;
    margin: 10px 0;
}
#cart h5{
    font-size: 25px;
    color: red;
    margin: 20px;
}
button{
    padding: 7px 14px;
    margin-top: 10px;
    font-weight: 700;
    background-color: cadetblue;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
}
 #remove{
    background-color: #dadada;
    color: #111;
}
